<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" routerLink="/">
        <i class="fas fa-film mr-2"></i>
        Catalog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link nav-link-1 active" aria-current="page" routerLink="/photos" routerLinkActive="active">Photos</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link nav-link-2" routerLink="/videos" routerLinkActive="active">Videos</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link nav-link-4" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
    </ul>
    </div>
</div>
</nav>

<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll">
  <!-- <form class="d-flex tm-search-form">
      <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success tm-search-btn" type="submit">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
  </form> -->
</div>
